.cx-title {
  font-size: 24px;
  font-weight: 500;
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  border-bottom: solid 2px #d5d5d5;
  color: #373050;
}
.summary-section {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
.summary-section td {
  font-family: 'Roboto', sans-serif;
}
tr.summary-table-row {
  white-space: nowrap;
}
table {
  border-collapse: collapse;
}
table td,
table th {
  border: solid transparent;
}
.top-padding td {
  padding-top: 43px;
}
td {
  border-color: transparent;
}
tr.cxsast {
  border-bottom: solid 2px #d5d5d5;
}
.title-column,
.main-column {
  padding: 44px 0;
  line-height: 25px;
  display: inline-block;
}
.main-column {
  padding-bottom: 45px;
  margin-bottom: 42px;
}
.title-column {
  margin-right: 10px;
  vertical-align: top;
  height: 100%;
  letter-spacing: -0.8px;
  width: 222px;
  color: #373050;
}
.summary-title {
  padding-bottom: 21px;
  border-bottom: solid #979797 1px;
}
.sum1 {
  font-size: 24px;
  font-weight: 500;
}
.sum2 {
  font-size: 16px;
}
.sum-line1 {
  width: 100%;
  height: 1px;
  background-color: #979797;
}
.graph-title {
  margin-bottom: 38px;
  font-weight: 500;
  font-size: 16px;
}
.graph {
  width: 709px;
  position: relative;
}
.threshold-exceeded-text {
  color: #da2945;
}
.threshold-compliance-text {
  color: #21bf3f;
}
.threshold-exceeded,
.threshold-compliance {
  display: inline-flex;
  font-size: 14px;
  position: absolute;
  right: 0;
}
.threshold-exceeded-icon,
.threshold-compliance-icon {
  margin-right: 6px;
  line-height: 28px;
}
.detailed-report {
  margin-top: 24px;
  display: block;
}
.detailed-report-ttl {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.53px;
}
.download-detailed-report {
  color: #9b9b9b;
  font-size: 14px;
  letter-spacing: -0.47px;
}
.download-icon,
.download-icon,
.download-txt {
  display: inline-block;
}
.download-icon {
  margin-right: 9px;
}
body {
  font: 13px/1.3 'Lucida Grande', sans-serif;
  color: #666;
}
.chart {
  display: table;
  table-layout: fixed;
  width: 709px;
  height: 288px;
  margin: 0 auto;
  padding: 0;
  background-image: linear-gradient(to top, #d5d5d5, #ffffff 2%);
  background-size: 100% 70px;
  background-position: left bottom;
  border-bottom: solid #979797 2px;
}
.chart tr {
  white-space: nowrap;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
}
.chart span {
  margin: auto;
  display: block;
  background: #d1ecfa;
  animation: draw 1s ease-in-out;
}
.chart .bar-count {
  text-align: center;
  font-size: 14px;
  letter-spacing: -0.47px;
  line-height: 40px;
}
.chart .bar-title {
  font-size: 16px;
  padding: 0 18px;
  color: #525055;
}
.chart .bar-title-container {
  position: absolute;
  padding-top: 21px;
  display: inline-flex;
  text-align: center;
  word-wrap: break-word;
  left: 50%;
  transform: translate(-50%);
}
.chart .bar-1 {
  position: relative;
  background-color: #da2945;
}
.chart .bar-2 {
  position: relative;
  background-color: #ffb400;
}
.chart .bar-3 {
  position: relative;
  background-color: #efd412;
}
.chart li span {
  width: 53px;
}
.download-cx-report {
  font-size: 16px;
  padding-bottom: 5px;
}
.pdf-report.download-icon,
.html-report.download-icon {
  margin-right: 6px;
}
.libraries {
  display: inline-flex;
}
.libraries-vulnerable,
.libraries-ok {
  width: 200px;
  overflow: hidden;
  margin-bottom: 47px;
  margin-right: 122px;
}
.libraries-vulnerable-number,
.libraries-ok-number {
  display: inline-block;
  font-size: 28px;
  letter-spacing: -0.93px;
}
.libraries-vulnerable-icon,
.libraries-ok-icon {
  display: inline-block;
  margin-right: 9px;
}
.libraries-vulnerable-text,
.libraries-ok-text {
  white-space: normal;
  font-size: 16px;
  letter-spacing: -0.53px;
}
.threshold-icon-white {
  position: relative;
  top: 2px;
  display: inline-block;
  vertical-align: top;
}
.threshold-text {
  position: relative;
  color: white;
  display: inline-block;
  padding-right: 6px;
  padding-left: 7px;
  vertical-align: top;
}
.threshold-number {
  position: relative;
  color: white;
  display: inline-block;
  vertical-align: top;
}
.tooltip-container {
  position: absolute;
  display: inline-flex;
}
.threshold-tooltip {
  padding-right: 15px;
  text-align: right;
  transform: translate(0, 50%);
}
.threshold-line {
  width: 53px;
  border-bottom: dashed white 1px;
  padding-right: 3px;
}
.threshold-tooltip-background {
  position: relative;
  padding: 0 12px;
  margin: 0;
  margin-left: 4px;
  background: #373050;
  border-radius: 5px;
}
.threshold-tooltip-background::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: -5px;
  border: 5px solid transparent;
  border-right-color: #373050;
}
