.summary-section {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
tr.cxsast {
  height: 386px;
  border-bottom: grey solid 1px;
  margin-bottom: 30px;
}
.title-column,
.main-column {
  padding: 3px;
  line-height: 25px;
  display: inline-block;
}
.main-column {
  width: 70%;
}
.title-column {
  margin-right: 10px;
  vertical-align: top;
  height: 100%;
  letter-spacing: -0.8px;
  width: calc(20% - 10px);
  color: #373050;
}
.sum1 {
  font-size: 24px;
  font-weight: 500;
}
.sum2 {
  font-size: 16px;
}
.graph-title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
}
.graph {
  height: 386px;
  width: 709px;
}
.detailed-report {
  margin-top: 50%;
}
.detailed-report-ttl {
  font-size: 16px;
}
.download-detailed-report {
  color: #9b9b9b;
  font-size: 14px;
  letter-spacing: -0.47px;
}
.download-icon,
.download-icon,
.download-txt {
  display: inline-block;
}
.download-icon {
  margin-right: 9px;
}
body {
  font: 13px/1.3 'Lucida Grande', sans-serif;
  color: #666;
}
.chart {
  display: table;
  table-layout: fixed;
  width: 709px;
  height: 288px;
  margin: 0 auto;
  padding: 0;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
  background-size: 100% 70px;
  background-position: left bottom;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
}
.chart span {
  margin: auto;
  display: block;
  background: #d1ecfa;
  animation: draw 1s ease-in-out;
}
.chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 1em 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}
.chart .bar-1 {
  background-color: #da2945;
}
.chart .bar-2 {
  background-color: #ffb400;
}
.chart .bar-3 {
  background-color: #efd412;
}
.chart li span {
  width: 53px;
}
